extends layout

block content
  .main.col-12.col-md-10.col-lg-6.col-sm-10
    .card
      form.form(action='#')
        h2=header.title
        p=header.tagLine 
        .form-group
          label(for='email')=loginForm.email
          input#email.form-control(type='email')
        .form-group
          label(for='pwd')=loginForm.password
          input#pwd.form-control(type='password')
        button.btn.btn-light.btn-lg(type='submit')=loginForm.button
        button.pull-right.btn-link(type='submit')
          a(href='/register')=loginForm.link